<!--共通のレイアウト-->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= @title %></title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container">
  <%= yield %>
  </div>
  <script src="/public/js/jquery_google.js"></script>
  <script src="/public/js/main.js"></script>
</body>
</html>
